@use 'variables';

.header {
    display: grid;
    // grid-template-columns: .35fr .65fr;
    grid-template-columns: 35% auto;

    &__menu {
        height: 800px;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 26vh auto;
        padding-left: 8vw;
        
        &__item {
            display: grid;
            grid-template-columns: 70% 30%;
            padding: 12px 24px;
            margin-bottom: 8px;
            width: 250px;
            transition: transform 0.2s ease;

            //hover button portfolio
            &:hover {
                background-color: #fff;
                border-radius: 24px;
                box-shadow: 0 0 16px 0px #0000002a;
                transform: scale(1.05);
                cursor: pointer;
            }

            &__year {
                text-align: right;
            }
        }
    }

    &__about {
        position: sticky;
        left: auto;
        top: 0%;
        bottom: 0%;
        height: 100vh;
        padding: 20vh 10vw 20vh 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        // min-width: 350px;
        // align-content: center;

        &__text {
            span {
                background: linear-gradient(214deg, #3a1c71, #d76d77, #cf8e62);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
        &__links {
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            margin-top: 16px;
            
            a:hover {
                color: variables.$textLinkHover;
            }
        }
    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        
        &__about {
            position: static;
            // padding: 0;
            height: 100%;
        }

        &__menu {
            margin: 0;
            padding: 0;

            &__item {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    @media (min-width: 768px) and (max-width: 990px) {
        
        &__about {
            padding-left: 12vw;
        }
    }
}